# ==========================================
# SLAShield402 — Environment Configuration
# ==========================================

# --- Person 1: Firewall & Gateway API ---
PORT=3000
NODE_ENV=development

# --- Person 3: Algorand Testnet & Smart Contract Configuration ---
ALGOD_SERVER=https://testnet-api.algonode.cloud
ALGOD_PORT=443
ALGOD_TOKEN=

INDEXER_SERVER=https://testnet-idx.algonode.cloud
INDEXER_PORT=443
INDEXER_TOKEN=

# Confirmed Official Circle Testnet USDC ASA ID
USDC_ASA_ID=10458941

# Live Deployed SLAShield402 Escrow Smart Contract Application ID
SLASHIELD_ESCROW_APP_ID=769236555
SLASHIELD_ESCROW_APP_ADDRESS=4IXAMX45CUWKRHQEGUMAIHT45ABGOMO2LK6P5V2BHHLXNCOMSYDOJNCUXA

# Authorized SLAShield402 Backend Deployer / Caller Account
DEPLOYER_MNEMONIC="your 25-word mnemonic phrase here..."
AUTHORIZED_BACKEND_ADDRESS="YVEHNV3EWF4GULZHABH64QKOYLE5MO2MSBAAK7O76A2ESACA5OV2AZSOKQ"
